.tab-section
  z-index: 5
  height: 50px
  width: 100%
  background: #000
  .tab
    top: -40px
    border-radius: $borderRadiusLarge $borderRadiusLarge 0px 0px
    background: black
    position: absolute
    height: 44.2px
    width: 130px
    z-index: 3

.demo-tech
  .customTabBar
    background: orange
    .customTab
      background: orange
      left: 300px

.demo-projects
  .customTabBar
    background: red
    .customTab
      background: red
