.flex
  display: flex

.justify-center
  justify-content: center
.justify-between
  justify-content: space-between
.justify-around
  justify-content: space-around
.justify-evenly
  justify-content: space-evenly
.justify-end
  justify-content: flex-end
.justify-start
  justify-content: flex-start

.align-end
  align-items: flex-end
.align-start
  align-items: flex-start
.align-baseline
  align-items: baseline
.align-center
  align-items: center

// .self-align-end
//   align-self: flex-end
// .self-align-start
//   align-self: flex-start
// .self-align-center
//   align-self: center
// .self-align-baseline
//   align-self: baseline

// .self-justify-end
//   justify-self: flex-end
// .self-justify-start
//   justify-self: flex-start
// .self-justify-center
//   justify-self: center
// .self-justify-baseline
//   justify-self: baseline


.flex-1
  flex: 1
.flex-2
  flex: 2
