%btnStandard
  border-radius: .3em
  min-width: 10em
  height: 3em
  &:hover
    background: lighten( $secondaryColor, 10% )

.action-btn
  background: $primaryColor
  border: 1px solid #3B8E84
  @extend %btnStandard
  &:hover
    background: lighten( $primaryColor, 10% )
  p
    font-size: $fontSizeMed
    margin: 0 $spacing-2 0 $spacing-2

.navbar-tab
  p
    display: inline-block
    color: #3C3C3C
    font-size: 1.5em
    font-family: $fontFamilySourceSansPro-bold
