@font-face
  font-family: SourceSansPro
  src: url('../../assets/fonts/SourceSansPro-Regular.ttf')
@font-face
  font-family: SourceSansPro-bold
  src: url('../../assets/fonts/SourceSansPro-SemiBold.ttf')

p
  font-family: $fontFamilySourceSansPro
  font-size: $fontSizeReg

.lessDark-txt
  color: $lessDarkTextColor
.dark-txt
  color: $darkTextColor
.darker-txt
  color: $darkerTextColor
.secondary-txt
  color: $secondaryColor

.landing-page
  p
    color: white
  .large
    font-size: $fontSizeMed
  .bio-paragraph
    width: 600px

.project-library-page
  p
    color: black
